<!DOCTYPE html>
<html lang="en"
      xmlns:th="http://www.thymeleaf.org"
      th:replace="~{layout/masterLayout :: layout(~{::main})}">

<body>
    <main role="main">
        <div class="container mt-5">
            <div class="row">
                <div class="card shadow rounded">
                    <div class="card-header">
                        <h4>Department Form</h4>
                    </div>
                    <div class="card-body">
                        <form action="#" th:object="${department}"
                        th:action="@{/department-form}" method="post">
                            <div class="row">
                                <div class="col">
                                    <div class="mb-3">
                                        <label class="form-label">Name</label>
                                        <input type="text" th:field="*{name}" class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Code</label>
                                        <input type="text" th:field="*{code}" class="form-control">
                                    </div>
                                    <div class="mb-3">
                                        <label class="form-label">Country</label>
                                        <input type="text" th:field="*{country}" class="form-control">
                                    </div>
                                    <input type="submit" value="Add Department" class="btn btn-primary">
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>
</html>