<!DOCTYPE html>
<html th:replace="~{layout/masterLayout :: layout(~{::main})}"
	xmlns:th="http://www.thymeleaf.org">

<body>
	<main role="main">
		<div class="container">
			<h2 class="text-center">My Data</h2>
			<div class="d-flex justify-content-center align-items-center mt-5">
				<a th:href="@{/ui/employees/list}" class="btn btn-primary mx-4">Employees</a>
				<a th:href="@{/ui/addresses/list}" class="btn btn-success">Addresses</a>
			</div>
		</div>
		<div th:replace="~{fragments/employee-table.html ::employees}"></div>
		<div class="my-5"></div>
		<div th:replace="~{fragments/address-table.html :: addresses}"></div>
	</main>
</body>
</html>