<!DOCTYPE html>
<html th:replace="~{layout/masterLayout :: layout(~{::main})}"
	xmlns:th="http://www.thymeleaf.org">
<body>
	<main role="main">
		<div class="container mt-5">
			<h2>Checkout</h2>
			<p>In order to purchase this items in your shopping cart, please provide us with the following information.</p>
			<div class="row">
				<div class="col-md-6">
					<div class="card mb-5">
						<form class="p-5 rounded bg-warning border" th:action="@{/affable-bean/ui/checkout-view}" method="post">
							<div class="mb-3">
								<label  class="form-label">Username</label>
								<input type="text" class="form-control" name="username"/>
								<label  class="form-label">Password</label>
								<input type="text" class="form-control" name="password"/>
								<label  class="form-label">Account Number</label>
								<input type="text" class="form-control" name="accountNumber"/>
								
								<input type="submit" value="Submit Purchase" class="mt-3 btn btn-primary w-100"/>
							</div>
						</form>
					</div>
				</div>
				<div class="col-md-6">
					
				</div>
			</div>
		</div>
	</main>
</body>
</html>