<!DOCTYPE html>
<html th:replace="~{layout/masterLayout :: layout(~{::main})}"
 xmlns:th="http://www.thymeleaf.org">

<body>
	<main role="main">
		<div class="container mt-5  rounded-2">
			<div class="row">
				<div class="col-md-2"></div>
				<div class="col-md-8">
					<h2 class="">Add New Employee</h2>
					<form th:action="@{/add-employee}" th:object="${employee}" method="post"
					class="border rounded-3 m-4 p-5 bg-info">
						<div class="mb-3">
							<label for="" class="form-label">FirstName</label>
							<input type="text" th:field="*{firstName}" class="form-control"/>
						</div>
						<div class="mb-3">
							<label for="" class="form-label">LastName</label>
							<input type="text" th:field="*{lastName}" class="form-control"/>
						</div>
						<div class="mb-3">
							<label for="" class="form-label">Email</label>
							<input type="text" th:field="*{email}" class="form-control"/>
						</div>
						<div class="mb-3">
							<label for="" class="form-label">Phone</label>
							<input type="text" th:field="*{phoneNumber}" class="form-control"/>
						</div>
						<div class="mb-3">
							<label for="" class="form-label">HireDate</label>
							<input type="date" th:field="*{hireDate}" class="form-control"/>
						</div>
						<div class="mb-3">
							<label for="" class="form-label">Salary</label>
							<input type="number" step="any" th:field="*{salary}" class="form-control"/>
						</div>
						<input type="submit" value="Add Employee" class="btn btn-warning w-100 text-primary" />
					</form>
				</div>
				<div class="col-md-2"></div>
			</div>
		</div>
	</main>
</body>
</html>