<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">
	<beans>
		<bean id = "customer" class = "com.solt.bean.Customer" 
		autowire = "constructor"> <!--Auto Wire is implict DI-->
		
			<property name = "name" value = "Arkar Hein"></property>
			 <!--<property name = "address" ref = "address"></property> --><!--Explict DI--> 
			 
		</bean> 
	
		<bean id= "add" class = "com.solt.bean.Address">
			<property name = "streetName" value = "No.180 Stand Road"></property>
		</bean>
	</beans>
</beans>