<!DOCTYPE html>
<html 
	xmlns:th="http://www.thymeleaf.org"
>

<body>
	<div class="container mt-5" th:fragment="addresses">
		<div class="row">
			<div class="col">
				<div class="card" th:if="${!addresses.isEmpty()}">
					<table class="table table-striped table-bordered rounded ">
						<thead>
							<tr>
								<th>Id</th>
								<th>Street Name</th>
								<th>City</th>
								<th>State</th>
								<th>Zip Code</th>
							</tr>
						</thead>
						<tbody>
							<tr th:each="add : ${addresses}">
								<td th:text="${add.id}"></td>
								<td th:text="${add.streetName}"></td>
								<td th:text="${add.city}"></td>
								<td th:text="${add.state}"></td>
								<td th:text="${add.zipCode}"></td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</body>
</html>